services:
  api:
    build: .
    container_name: bank-account-mngt-api
    restart: unless-stopped
    ports:
      - "5555:5555"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: bank-account-mngt-db
    command: postgres -p ${POSTGRES_PORT}
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
