django-cors-headers
django-colorfield
django<6.0
django-jazzmin
django-filter
django-money
djangorestframework
djangorestframework-simplejwt
drf-redesign
gunicorn
markdown
psycopg2-binary
pylint
python-dotenv
whitenoise
