.error {
    color: brown;
}

.list-btn-item {
    margin-bottom: 0;
    margin-right: 10px;
}

.card-header-flex {
    display: flex;
    justify-content: space-between;
}

.py-3 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.new-text {
    color: rgb(36, 202, 14);
}

.new-border {
    border: 1px solid rgb(36, 202, 14);
}