.error {
    color: brown;
}

.list-btn-item {
    margin-bottom: 0;
    margin-right: 10px;
}

.card-header-flex {
    display: flex;
    justify-content: space-between;
}

.py-3 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.new-text {
    color: rgb(36, 202, 14);
}

.new-border {
    border: 1px solid rgb(36, 202, 14);
}

.header-card {
    padding: 12px 20px;
    padding-bottom: 0;
}

.little-button-radius {
    border-radius: 5px !important;
}

.custom-fas {
    text-align: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
}

.transaction-list {
    height: auto;
    max-height: 500px;
    overflow-y: scroll;
}

.bottom-border {
    border-bottom: 1px solid rgba(0,0,0,.125);
}
